html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Ubuntu-Light', Ubuntu, Roboto, sans-serif;
    color: #F0F0F0;
}

.App {
    background: url(skewed_print.png) #000;
    min-height: 100%;
}

.raku-wrap {
    width: 70vw;
    min-height: 90vh;
    margin: 0 auto;
    position: relative;
}

.raku-img {
    display: block;
    width: 100%;
    user-select: none;
}

.raku-info {
    position: fixed;
    bottom: 15vh;
    transform-origin: top left;
    transform: translateX(-2rem) rotate(-90deg);
    font-size: 1rem;
}

.raku-loader {
    padding: 2rem;
    display: grid;
}

.raku-loader > * {
    margin: auto;
}
